:root {
  --white: rgb(255, 255, 255);
  --gray: rgb(78, 78, 78);
  --nav: linear-gradient(to right, #fdbebd, #a4dbff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar-brand {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.08em;
}

.navbar-light .navbar-brand:hover {
  color: var(--white);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--gray);
  font-size: 1.3em;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--white);
}

.navbar-light .navbar-brand {
  color: var(--gray);
}

/* .navbar-light .navbar-nav .nav-link.active {
  color: var(--gray);
} */

.navbar {
  display: flex;
  justify-content: space-evenly;
  background: var(--nav);
  color: var(--gray);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.nav-link {
  color: var(--gray);
  margin-bottom: 20px;
}

.navbar-light .navbar-toggler {
  color: transparents;
  border: none;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.subtitle-image {
  /* height: 800px; */
  background-size: cover;
  background-position: center;
  max-width: auto;
  max-height: auto;
  display: block;
  width: 100%;
  /* margin-bottom: 25px; */
}

main {
  display: flex;
}

aside {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  margin: 10px;
  padding: 15px;
}

.aside-text {
  color: var(--gray);
  font-weight: 500;
  letter-spacing: 0.15em;
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  /* line-height: 14em; */
  border-right: 3px solid #fdbebd;
  height: 30em;
}

h2#about.aside-text {
  height: 16%;
  margin-top: 37%;
}

h2#work.aside-text {
  height: 46%;
  margin-top: 41%;
}

h2#contact.aside-text {
  height: 28%;
  margin-top: 44%;
}

p {
  color: var(--gray);
  margin: 10px;
  line-height: 2.5em;
  width: 100%;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  margin-bottom: 1%;
  align-items: center;
}

h2 {
  font-size: 1em;
  color: var(--gray);
  width: 100%;
  font-weight: normal;
  letter-spacing: 0.1em;
}
/* Experience area */
.card-text {
  font-size: 1em;
  line-height: 1.25em;
  letter-spacing: 0.1em;
  margin: 0px;
}

/* Contact area */
.contact-container {
  text-align: center;
  margin-top: 5%;
  align-content: center;
  align-items: center;
}

li {
  color: #fdbebd;
  margin: 10px;
  display: inline-block;
  letter-spacing: 0.1em;
}

ul {
  letter-spacing: 20px;
  margin-top: 25px;
  margin-bottom: 2%;
}

img.profile-photo {
  border-radius: 50%;
  width: 20%;
  border: 3px solid #a4dbff;
}

.profile-photo:hover {
  box-shadow: 0 0 3px 2px #fdbebd;
}

#welcome-text {
  text-align: center;
  margin-top: 2%;
}

form.bottom-form {
  display: flex;
  color: var(--gray);
  margin: 10px;
  text-align: left;
  letter-spacing: 0.1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-position {
  width: 500px;
  display: flex;
}

input#fname {
  margin: 10px;
  width: 15em;
}

input#lname {
  margin: 10px;
  width: 15.2em;
}

input#fname,
input#lname,
textarea#message {
  letter-spacing: 0.1em;
}

label {
  margin-top: 9px;
}

textarea {
  height: 10em;
  width: 23em;
  margin-top: 10px;
  margin-left: 25px;
  border-radius: 2px;
  letter-spacing: 0.1em;
}

.btn {
  margin: 10px;
  letter-spacing: 0.1em;
  color: var(--white);
  background-color: #fcaaa8;
  border-radius: 5px;
  border: 1px solid #a4dbff;
}

.btn:hover {
  color: var(--white);
  background-color: #a4dbff;
  /* box-shadow: 0 0 5px #a4dbff; */
}

.footer h4 {
  color: var(--white);
  font-weight: bold;
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  padding: 10px;
  background: var(--nav);
}

@media screen and (max-width: 768px) {
  .aside-text {
    font-size: 14px;
    display: flex;
  }
  h3 {
    display: flex;
    font-size: 0.85em;
  }
  .subtitle-image section #image-section {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 576px) {
  main,
  nav {
    font-size: 14px;
  }
}
